
.metadata/**
Servers/**
springFramework/.metadata/**
springFramework/.springBeans/**

.recommenders/i**

RemoteSystemsTempFiles/.project

springFramework_simpleJava/.classpath

springFramework_simpleJava/.project

springFramework_simpleJava/.settings/**

springFramework/.settings/org.eclipse.jdt.core.prefs

springFramework/.settings/org.eclipse.m2e.core.prefs

springFramework/.springBeans
