
.metadata/**
Servers/**
springFramework/.metadata/**
springFramework/.springBeans/**

.recommenders/i**

RemoteSystemsTempFiles/.project/**

springFramework_simpleJava/.classpath/**

springFramework_simpleJava/.project

springFramework_simpleJava/.settings/**

springFramework/.settings/**


springFramework/.springBeans/**

springFramework_annotation/.settings/**

springFramework_xml/target/classes/**

springFramework_annotation/.classpath



springFramework_xml/.settings/**

springFramework/target/classes/**

**.class
